<strong><h2 class="text-center">REGISTRATION</h2></strong>
<br>
<br>
<%= bootstrap_form_with(model: User.new, url: user_registration_path, method: :post, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-groupe">
    <strong><%= f.text_field :username, placeholder: " Enter your username" %></strong>
    <strong><%= f.text_field :first_name, placeholder: " Enter your name" %></strong>
    <strong><%= f.text_field :last_name, placeholder: " Enter your last name" %></strong>
    <strong><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " Enter your email" %></strong>
    <strong><%= f.password_field :password, autocomplete: "new-password", placeholder: " Enter your password" %></strong>
    <strong><%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: " Confirm your password" %></strong>
  </div>

  <div class='green-button'>
    <%= f.button name="REGISTER" %>
  </div>
  <br>
  <br>
  <div class='google-button'>
    <%= f.button name='Use your Google account to log in' %>
  </div>
<% end %>
