<ul>
  <% current_user.favorite_records.each do |favorite_user| %>
    <li><%= favorite_user.favorit.email %></li>
    <%= link_to 'Удалить из друзeй', delete_from_favorites_path(id: favorite_user.id), method: :delete, data: {confirm: 'Удалить из друзей?'} %>
  <% end %>
</ul>
