<div id="filterrific_results">



  <table>
    <tr>
      <th><%= filterrific_sorting_link(@filterrific, :first_name) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :email) %></th>
      <th><%= filterrific_sorting_link(@filterrific, :created_at) %></th>
    </tr>
    <% users.each do |user| %>
      <tr>
        <td><%= link_to(user.first_name, '#') %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= link_to 'Delete',  user_delete_path(user),
        data: { confirm: 'Are you sure?' }, method: :delete %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= will_paginate users %>