<%= bootstrap_form_with(model: current_user, url: users_edit_profile_path, method: :put, local: true) do |f| %>
  <% if current_user.avatar.attached? %>
    <%= image_tag user_avatar(current_user) %>
  <% end %>
  <div class="avatar-image">
    <strong><p>This will be show avatar image</p></strong>
  </div>
  <div class="text-avatar-image">
    <strong><p>Change your avatar</p></strong>
  </div>
  <br>
  <strong><%= f.file_field name="Choose your avatar", placeholder: " Choose your avatar"%></strong>
  <strong><%= f.text_field :username, placeholder: " Enter your email" %></strong>
  <strong><%= f.text_field :first_name, placeholder: " Enter your first name" %></strong>
  <strong><%= f.text_field :last_name, placeholder: " Enter your last name" %></strong>
  <strong><%= f.text_area :about %></strong>

  <strong><%= f.select :location, [["Ukraine", 1], ["USA", 2]] %></strong></strong>
  <strong><%= f.select :language, [["eng", 1], ["rus", 2]] %></strong></strong>

  <br>
  <strong><%= f.form_group :skill_level, label: { text: "Choose your gender:" } do %></strong>
    <br>
    <div class="radio-group" id="style-radio">
      <div class='radio-button-left'>
        <strong><%= f.radio_button :skill_level, 0, label: "Male", inline: true %></strong>
      </div>
      <div class='radio-button-center'>
        <strong><%= f.radio_button :skill_level, 1, label: "Female", inline: true %></strong>
      </div>
      <div class='radio-button-right'>
        <strong><%= f.radio_button :skill_level, 2, label: "No-binary", inline: true %></strong>
      </div>
  <% end %>
  <br>
  <br>
  <div class='google-button'>
    <strong><p>Login options</p></strong>
    <strong><%= f.button name='Use your Google account to log in' %></strong>
  </div>
  <br>
  <div class='green-button'>
  <strong><%= f.button name='SAVE' %></strong>
  </div>
  <br>
<% end %>
