<% if @user.blocked? && can?(:activate, User) %>
  <%= link_to "Activate user!", activate_user_path(@user) , method: :post %> 
<% end %>
<% if !@user.blocked? && can?(:ban, User)%>
  <%= link_to "Ban user!", ban_user_path(@user) , method: :post %> 
<%end%> 

<%= @user.email %>
<br>
<%= link_to 'Друзья', favorites_path%>
<br>

<% if current_user.id != @user.id %>
  <% if current_user.have_favorite? @user %>
    <%= 'Вы не можете добавить этого пользователя или он уже добавлен в друзья' %>
  <% else %>
    <%= link_to 'Добавить в друзья', add_to_favorites_path(@user), method: :post %>  
  <% end %>
  <%= form_for @report, url: report_user_path(@user), method: :post do |form| %>
    <%= form.label :query, "Пожаловатся:" %>
    <br>
    <%= form.text_area :description, size: "70x5" %>
    <br>
    <%= button_to 'Сдать розбышаку в киберполицию :)', welcome_index_path %>
  <% end %>
  <% if current_user.admin? && !@user.verified%>
    <%= button_to "Confirm this account!",
                  verify_user_path(@user),
                  method: :post,
                  data:{confirm: 'User confirmated!'} %>
  <% end %>
<% end %> 
