<span class="avatar-self">
  <strong><p> This will be show avatar image </p></strong>
</span>
  <strong><p class="text-left" ><%= link_to "Change avatar", "/users/edit_profile" %></p></strong>
  <h3 class="font-weight"> LEONARD CHESOO </h3>
  <h3 class="name-gray"> Leonard Chesoo </h3>
<div class="li">
  <ul>
    <li class="text-size"> Male </li>
  </ul>
</div>
<br>
<p class="text-size"> Ukraine, Kharkiv </p>
<p class="text-size"> Pavlovo pole </p>
<p class="text-size"> English, ukranian </p>
<br>
<div class="about-size-field">
  <p class="text-size"> Aboute </p>
  <p class="text-size"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Non ut nisl sed felis pharetra, nulla eget.
                        Quis vestibulum proin at nisi velit eu mauris ipsum in.
                        Ac erat morbi ullamcorper nunc nibh. At amet et augue at malesuada. 
                        Ultricies leo diam risus quam cursus arcu. 
  </p>
</div>
