<strong><h2 class="text-center">LOGIN</h2></strong>
<br>
<br>

<%= bootstrap_form_with(model: User.new, url: user_session_path, method: :post, local: true) do |f| %>

  <div class="google-button">
    <%= link_to "Use your Google account to log in", '/users/auth/google_oauth2', :class => "btn" %>
  </div>
  <br>
  <br>
  <strong><h4 class="text-center">OR</h4></strong>
  <br>

  <div class='form-groupe'>
    <strong><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: " Enter your email" %></strong>
    <strong><%= f.password_field :password, autocomplete: "current-password", placeholder: " Enter your password" %></strong>
  </div>

  <a class="a-color"><%= link_to "Forgot your password?", "/users/password/new" %></a>

  <div class='green-button'>
    <%= f.button name="LOGIN" %>
  </div>

  <br>
    <strong><p class="text-center" ><%= link_to "Create an account", "/users/sign_up", :class => "blue-link" %></p></strong>
  <br>

<% end %>

