/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require bootstrap
*= require_tree .
*= require_self
*= require rails_bootstrap_forms
*/

 body {
    font-family: 'Open Sans', sans-serif, bold !important;
    width: auto;
    height: auto;
    
  } 

 a.brand-logo {
    font-size: 50px !important;
    color: black;
 }


 .bordered{
    border: 4px solid black;
 }

 .page-content{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 100px;
    margin-bottom: 10px;
 }

 .navbar-nav a {
    color:  black;
 }

 .bordered.col-8{
    width: 100%;
    height: 100%;
    padding: 10%;
    border-width: 5px black;

 }

.avatar-image{
   width: 230px;
   height: 230px;
   background-color: gray;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-bottom: 35px;
   text-align: center;
}

.text-avatar-image{
   text-align: center;
}

.select select{
   width: 100%;
}

.radio-groupe{
   display: inline-block; 
   padding: 30px;
}

 input[type="radio"]:checked { 
    background: green;
}

.radio-button-left{
   display: inline-block;
   text-align: left;
   width: 32%;
}
.radio-button-center{
   display: inline-block;
   text-align: center;
   width: 32%;
}
.radio-button-right{
   display: inline-block;
   text-align: right;
   width: 33%;
}

.rails-bootstrap-forms-date-select{
   text-align: center;
}

.green-button button{
   background: #005518;
   font-size: 25px;
   width: 450px;
   height: 100px;
   font-size: 34px;
   border: none;
   border-radius: 0%;
   margin-left: auto;
   margin-right: auto;
   display: block;
   margin-top: 50px;
}

.google-button .btn {
   border-radius: 0%;
   border-width: 2px;
   border-color: black;
   color: black;
   background-color: white;
   width: 100%;
   text-align: center;
   padding-bottom: 10px;
   padding-top: 10px;
   font-weight: 600;
}

.text-center p h2{
   text-align: center;
}

.upercase {
   text-transform: capitalize;
}

.form-control{
   border-radius: 0rem;
   border-color:  #202020;
   border-width: 3px;
   padding: 0rem 0.50rem;
   border-width: 2px;
   font-weight: 600;
}

a{
   color: #9c947d;
   font-weight: 600;
}

a:hover {
   color: black;
}

.blue-link {
   color: blue;
}

input[type='radio']{
   display: none;
}

input[type='radio']:after {
   width: 15px;
   height: 15px;
   border-radius: 15px;
   top: -2px;
   left: -1px;
   position: relative;
   background-color: #d1d3d1;
   content: '';
   display: inline-block;
   visibility: visible;
   border: 2px solid white;
}

input[type="radio"] + *::before {
   content: "";
   display: inline-block;
   vertical-align: middle;
   margin-top: -0.15rem;
   width: 1rem;
   height: 1rem;
   padding-top: -3px;
   margin-right: 0.3rem;
   border-radius: 50%;
   border-style: solid;
   border-width: 0.1rem;
   border-color: gray;
   background-color: gray;
 }
 
input[type="radio"]:checked + *::before {
  content: "";
  display: inline-block;
  vertical-align: middle; 
  margin-top: -0.15rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  background-color: black;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(0, 0, 0);
}

::placeholder{
   margin-left: 10%;
   text-align: unset;
}
.form-control::placeholder{
   color: #9c947d;
   margin-left: 10%;
   text-align: unset;
}

.avatar-self{
   margin-bottom: 1rem;
   text-align: left;
   width: 300px;
   height: 300px;
   color: black;
   background-color: #9c947d;
   margin-right: auto;
   display: block;
}

.text-left a{
   color: black;
   text-align: left;
}

.text-left a:hover{
   color: #9c947d;
}

.about-size-field{
  width:100%;
  height: 100%;
}

.text-size{
   font-size: 20px;
   font-weight: 600;
}

.font-weight{
  font-weight: 600;
}

.name-gray{
  color: #9c947d;
}

.li ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
  
.li li{
  font-size: 1rem;
  font-weight: 600;
}

.li li:before{
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: middle;
  border-radius: 50%;
  background-color:#000;
  margin-bottom: 2px;
  margin-right: 10px;
}

